<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SmileCompose</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>uk.co.drvik.smilecompose.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uk.co.drvik.smilecompose</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>SmileCompose uses the camera to take the patient smile photograph you design with.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SmileCompose saves before-and-after images and videos you export to your photo library.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.circle</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Start with a patient photo</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Smile Design</string>
			<key>UIApplicationShortcutItemType</key>
			<string>uk.co.drvik.smilecompose.shortcut.new</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>folder</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Your saved smile designs</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Cases</string>
			<key>UIApplicationShortcutItemType</key>
			<string>uk.co.drvik.smilecompose.shortcut.cases</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>play.circle</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>No patient photo needed</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Try a Sample Case</string>
			<key>UIApplicationShortcutItemType</key>
			<string>uk.co.drvik.smilecompose.shortcut.sample</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
